.contact{
    padding: 12rem 0;

  &-title {
    @include heading-title;

    &-text {
      @include heading-text;
    }

    &-subtext {
      @include heading-subtext;
    }
  }

  &-form{
      @include shadow;
      padding: 6rem;
      max-width: 100rem;
      margin: auto;
      border-radius: 45px;
      form{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 3.5rem;
          
          .input-name{
            width: 75%;
            padding: 2rem;
            font-size: 2rem;
            font-family: inherit;
            border-radius: 45px;
            background: rgba(220, 228, 231, 0.3);
            border: #333;
            outline: none;
            transition: .3s;
            
            
            &:focus{
                outline: 0;
                border: lighten($color-font-heading,80%);
                box-shadow: $color-font-heading 0px 7px 29px 0px, 0 0 0 4px lighten($color-font-heading,25%);
            }
        }
        .input-msg{
              background: rgba(220, 228, 231, 0.3);
              resize: none;
              width: 75%;
              padding: 2rem;
              font-size: 2rem;
              font-family: inherit;
              border-radius: 45px;
              outline: none;
              border: #333;

              &:focus{
                outline: 0;
                border: lighten($color-font-heading,80%);
                box-shadow: $color-font-heading 0px 7px 29px 0px, 0 0 0 4px lighten($color-font-heading,25%);
            }
          }
          .submit-btn{
            color: $color-background;
            background-color: $color-font-heading;
            transition: .3s;

            &:hover{
                color: $color-font-heading;
        background-color: $color-background;
        box-shadow: inset 0 0 0 2px $color-font-heading;
            }
          }
          

          
      }
  }
}

@media only screen and (max-width:68.75em) {
  .contact{
    padding:12rem 5rem;
    form{

      .input-name,.input-msg{
        width: 100%;
    }
    }
  }
}